h1, .bottom-logo {
  font-size: 60px;
  font-family: 'Russo One', sans-serif;
  text-align: center;
  color: #666;
}

h1 {
  position: absolute;
  width: 100%;
  top: 25px;
}

h2 {
  text-align: center;
  color: #f4f4f4;
  position: absolute;
  top: 110px;
  width: 100%;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  font-size: 30px;
}

body {
  background-color: #fff;
  font: 16px "Helvetica Neue",Helvetica,arial,freesans,clean,sans-serif;
  color: #66595C;
  margin: 0;
}

a {
  color: #66595C;
}

.backdrop {
  max-width: 100%;
  z-index: -1;
  box-shadow: 0px 0px 17px 3px rgba(0,0,0,0.4);
}

.hack {
  color: #30ee10;
  text-shadow: 2px 2px #cc0000;
}

.break {
  color: #ff3D16;
  text-shadow: 2px 2px #00cc00;
}

header {
  position: relative;
}

footer {
  font-weight: 300;
  text-align: center;
  font-size: 12px;
  margin-top: 100px;
  margin-bottom: 50px;
}

section {
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 100px;
}

section p {
  margin-left: 20px;
  margin-right: 20px;
}

.subsection {
  font-weight: normal;
  font-size: 16px;
  text-align: justify;
}

.samples {
  font-weight: normal;
  font-size: 22px;
  text-align: justify;
}

.samples li {
  margin-bottom: 10px;
}

p.contacts {
  font-size: 50px;
}

p.contacts a {
  text-decoration: none;
}

section .backdrop {
  margin-top: 100px;
}